* {
    border: 1px;
    border-style:solid;
    border-color: red;
}

body {
    background-color: rgb(18, 17, 24);
}

.intro {
    margin: 35px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 244, 236);

    
    
}

.intro .intro-heading {
    padding-right: 350px;
    font-size: 70px;
}

.intro .intro-information {
    color: rgb(160, 160, 160);
    font-size: 20px;
    
}